

$borderColor: #666666;

.booking-column {
    max-width: 140px;
}
.place {
    flex: 0 0 50%;
    margin: 1px 0;
}

.right {
    .workstation {
        transform: scaleX(-1);
        .user-placeholder {
            transform: scaleX(-1);
        }
    }
}

.chair {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 1px solid $borderColor;
    width: 25px;
    height: 30px;
    position: relative;
    border-right: 0;
    &:before {
        content: " ";
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border: 1px solid $borderColor;
        width: calc(100% + 5px);
        height: calc(100% + 8px);
        position: absolute;
        top: -4px;
        right: -1px;
    }
}

.desk {
    border: 1px solid $borderColor;
    width: 40px;
    height: 80px;
    margin: 0 2px;
    border-radius: 3px;
    .user-placeholder {
        border-radius: 3px;
        width: 32px;
        height: 32px;
        background-color: rgb(171, 95, 233);
        cursor: pointer;
        &:hover {
            background-color: rgba(171, 95, 233, 0.89);
        }
        &.occupied {
            cursor: not-allowed;
            background-color: rgba(235, 108, 23, 0.89);
        }
        .user-abbreviation {
            color: white;
            font-weight: bold;
            text-align: center;
        }
    }
}
