

$borderColor: #666666;

.booking-column {
    max-width: 80px;
}
.place {
    flex: 0 0 50%;
    margin: 1px 0;
}

.right {
    .workstation {
        transform: scaleX(-1);
        .user-placeholder {
            transform: scaleX(-1);
        }
    }
}

.chair {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid $borderColor;
    width: 16px;
    height: 16px;
    position: relative;
    border-right: 0;
    &:before {
        content: " ";
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid $borderColor;
        width: 18px;
        height: 20px;
        position: absolute;
        top: -3px;
        right: 0px;
    }
}

.desk {
    border: 1px solid $borderColor;
    width: 20px;
    height: 36px;
    margin: 0 2px;
    border-radius: 1px;
    .user-placeholder {
        border-radius: 1px;
        width: 16px;
        height: 16px;
        background-color: rgb(171, 95, 233);
        cursor: pointer;
        &:hover {
            background-color: rgba(171, 95, 233, 0.89);
        } 
        &.occupied {
            cursor: not-allowed;
            background-color: rgba(235, 108, 23, 0.89);
        }
        .user-abbreviation {
            color: white;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
        }
    }
}